*{
    margin:0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    width: 90%;
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
}

.cabecalho{

    height: 80px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
}

.cabecalho__menu{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-grow: 2;   
}

.menu__link{
    font-weight: 500;
    font-size: 1em;
    color: #667085;
}

.menu__link:hover{
    border-bottom: 1px solid #8E2424;

    color: #8E2424;
}

.botao{
    width: 112px;
    height: 44px;

    background: #8E2424;

    border: none;
    border-radius: 8px;
    
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #FFFFFF;
}

.botao--alternativo{
    background-color: #FFFFFF;
    color: #667085;
}

.botao:hover{
    background: #ebb9b9;
}

.botao--alternativo:hover{
    color: #FFFFFF;
}

.sessao__sobreNos{
    margin: 6rem 0;
}

.destaque{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-bottom: 6rem;

    text-align: center;

}

.sessao__titulo{
    font-size: 1em;
    font-weight: 600;

    color: #8E2424;
}

.sessao__textoDestaque{    
    font-size: 3em;
    font-weight: 600;

    letter-spacing: -0.02em;
    
    color: #101828;
}

.sessao__texto{
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.75em;

    margin: 0 15rem;

    color: #667085;
}

.maisInformacoes{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.informacao{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 18rem;
}

.informacao__textoDestaque{
    font-size: 3.75em;
    font-weight: 600;
    
    color: #8E2424;
}

.informacao__titulo{
    font-size: 1.125em;
    font-weight: 500;

    color: #101828;
}

.informacao__texto{
    font-size: 1em;
    font-weight: 400;

    color: #667085;
}

