:root{
    --cinza: #667085;
    --vermelho: #8E2424;
    --branco: #FFFFFF;
    --azul-escuro: #101828;

    --fonte-principal: 'Inter', sans-serif;
}

*{
    margin:0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    width: 90%;
    margin: 0 auto;

    font-family: var(--fonte-principal);
}

.cabecalho{

    height: 80px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6rem;
}

.cabecalho__menu{
    display: flex;
    flex-direction: row;
    flex-grow: 2;   
    gap: 2rem;
}

.menu__link{
    font-weight: 500;
    font-size: 1em;
    color: var(--cinza);
}

.menu__link:hover{
    border-bottom: 1px solid var(--vermelho);

    color: var(--vermelho);
}

.botao{
    width: 112px;
    height: 44px;

    background: var(--vermelho);

    border: none;
    border-radius: 8px;
    
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 500;
    color: var(--branco);
}

.botao--alternativo{
    background-color: var(--branco);
    color: var(--cinza);
}

.botao:hover{
    background: #ebb9b9;
}

.botao--alternativo:hover{
    color: var(--branco);
}

.sessao__sobreNos{
    margin: 6rem 0;
}

.destaque{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-bottom: 6rem;

    text-align: center;

}

.sessao__titulo{
    font-size: 1em;
    font-weight: 600;

    color: var(--vermelho);
}

.sessao__textoDestaque{    
    font-size: 3em;
    font-weight: 600;

    letter-spacing: -0.02em;
    
    color: var(--azul-escuro);
}

.sessao__texto{
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.75em;

    margin: 0 12rem;

    color: var(--cinza);
}

.metricas{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.metrica{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 18rem;
}

.informacao__textoDestaque{
    font-size: 3.75em;
    font-weight: 600;
    
    color: var(--vermelho);
}

.informacao__titulo{
    font-size: 1.125em;
    font-weight: 500;

    color: var(--azul-escuro);
}

.informacao__texto{
    font-size: 1em;
    font-weight: 400;

    color: var(--cinza);
}

.sessao__vagasAbertas{
    margin: 6rem 0;
    padding-top: 6rem;
}

.fundo{
    background: rgba(142, 36, 36, 0.05);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
}

.imagem__destaque{
    width: 100%;
}

.vagas{
    width: 70%;
    margin: 4rem auto;

}

.vagas__area{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.vagas__titulo{
    font-weight: 500;
    font-size: 1.5em;
    color: var(--azul-escuro);
}

.vaga{
    border: 1px solid #eaecf0;
    border-radius: 0.5rem;

    padding: 1.5rem;

}

.vaga__titulo{
    font-weight: 500;
    font-size: 1.2em;
    color: var(--azul-escuro);
}

.vaga__informacao{
    display: flex;
    gap: 2rem;

    margin-top: 2rem;

    font-weight: 500;
    font-size: 1em;
    color: var(--cinza);
}